* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
}

/* Navbar */
.navbar {
  background: #1e293b;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  padding: 8px 15px;
  background: #ef4444;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* User Info */
.user-info {
  padding: 20px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.03);
}

/* Sections */
section {
  padding: 20px;
}

.hidden {
  display: none;
}

/* Forms */
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

form input, form select, form button {
  padding: 10px;
}

form button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Lists */
ul {
  list-style: none;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.summary-box {
  background: #e0f2fe;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: fit-content;
}

.summary-box h3 {
  color: #0369a1;
}
